<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="container">

  <div class="left">
    <div class="leftContainer">
      <div class="debsmall">Breathe</div>
      <div id="loginTitle">User Login</div>
      <div class="credTextbox">
        <div class="loginIcon">
          <i class="icon-user"></i>
        </div>
        <input id="loginUsername" (blur)="loginNameFocus = false" (focus)="loginNameFocus = true" [(ngModel)]="userName" class="txtbox" type="text">
        <label class="{{userName.length < 1 && !loginNameFocus ? 'labelx' : 'labelActive'}}" for="loginUsername">Username</label>

      </div>
      <div class="credTextbox">
        <div class="loginIcon">
          <i class="icon-lock"></i>
        </div>
        <input style="margin-bottom: 3.5em;" id="loginPassword" (blur)="passwordFocus = false" (focus)="passwordFocus = true" [(ngModel)]="password" class="txtbox" type="text">
        <label class="{{password.length < 1 && !passwordFocus ? 'labelx': 'labelActive'}}" for="loginPassword">Password</label>

      </div>

      <div id="loginButton">
        <div>LOGIN</div>

      </div>
    </div>
  </div>
  <div class="right">
    <div class="rightTopLine"></div>
    <div class="deb">Breathe</div>
  </div>

 </div>
