
@font-face {
  font-family: myFirstFont;
  src: url('src/images/Debby.otf');
}
@font-face {
  font-family: variane;
  src: url('src/images/Variane.ttf');
}


textarea:focus, input:focus {
  outline: none;
}

.leftContainer {
  margin: auto 0;
  height: 510px;
}
.deb {
  font-family: myFirstFont;
  font-size: 12em;
  line-height: 1;
  position:static;
}
.debsmall {
  font-family: myFirstFont;
  font-size: 8em;
  text-align:center;
  line-height: 1;
  position: static;
  color:white;  
}

.container {
  display: flex; /* or inline-flex */
  height: 100%;
}

.leftInnerContainer {
  /*height: 80%;*/
}

.rightTopLine {
  letter-spacing: .6em;
  font-family: 'Poppins', sans-serif;
  margin-top:20%;
}

.right {
  background-image: url('src/images/large.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  margin: auto;
 
  color:white;
  text-align:center
}

.left {
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  width: 50%;
  
}

.txtbox {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
  width: 9em;
  text-align: left;
  color: black;
  margin-top: 14px;
}
.labelx:hover {
  cursor:text;
}
  .labelx{
  color: darkgrey !important;
  top: 9px !important;
  position: absolute !important;
  font-size: 22px !important;
  left: 60px !important;
  transition: all .4s !important;
  FONT-WEIGHT: 800 !important;  
  LETTER-SPACING: -0.5PX !important;
  opacity: 0.8 !important;
}

.labelActive {
  font-size: 1em;
  text-align: center;
  color: darkgrey;
  top: 0.1em;
  position: absolute;
  font-size: 0.8em;
  left: 59px;
  transition: all .4s;
}

#loginTitle {
  margin: 50px auto 35px auto;
  color: black;
  width: 10em;
  text-align: center;
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  opacity:0.8;
}

#appTitle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.6em;
  color: black;
  text-align: center;
  font-size: 6em;
  font-family: myFirstFont;  

 }


#loginButton:hover {
  cursor:pointer;
}


#loginButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  background-color: darkred;
  text-align: center;
  width: 140px;
  height: 35px;
  border-radius: 40px;
  padding-top: 10px;
  color: white;
  font-size: 20px;
  font-weight: 900;
}

.loginIcon {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  position: absolute;
  padding-top: 12px;
  padding-left: 22px;
  font-size: 18px;
  color: darkgrey;
  width: 26px;
  background-color: whitesmoke;
  height: 33px;
}

.credTextbox {
  border: solid 1px black;
  background-color: white;
  width: 1200px;
  height: 45px;
  max-width: 20em;
  min-width: 16em;
  position: relative;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
}
/*
.credTextbox:first-child {
  margin-bottom:1.5em;
}
.credTextbox:last-child {
    margin-bottom: 3.5em;

  }*/



  @media only screen and (max-width: 811px) {
    .container {
      width: 100%;
      background-image: url('src/images/large.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .right {
      display: none;
    }

    .left {
      width: 100%;
    }

    #loginTitle, #appTitle {
      color: white;
    }

    
  }
